<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRateJournee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css" rel="stylesheet">
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

    <!-- Alpine.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.5/cdn.min.js" defer></script>

    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>

<body class="bg-white flex flex-col p-0 md:p-0 min-h-screen">
    <nav class="border-gray-200 bg-white shadow z-10">
        <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse 
          block md:hidden"> <!-- block di mobile, hidden di desktop -->
                <span class="self-center text-lg whitespace-nowrap">
                    Rate<span class="font-medium">MyDay</span>
                </span>
            </a>

            <nav class="flex relative ml-auto" aria-label="User navigation">
                <div class="relative self-center">
                    <!-- Dropdown Trigger Button -->
                    <div class="flex flex-row space-x-3">
                        <div class="relative inline-block text-left group">
                            <button id="language-menu-button" type="button"
                                class="flex items-center text-sm text-gray-900 hover:text-blue-600 transition-colors duration-200">
                                <span class="mr-1">{{ _("EN") if g.get("lang_code", "en") == "en" else _("ID") }}</span>
                                <svg class="w-3 h-3 transform transition-transform duration-200 group-hover:rotate-180"
                                    fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>

                            <div id="language-menu"
                                class="hidden opacity-0 absolute right-0 z-10 mt-1 w-24 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none transition-all duration-200">
                                <div class="py-1">
                                    {% if request.endpoint == 'index' %}
                                    <a href="{{ url_for('index', lang='en') }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">English</a>
                                    <a href="{{ url_for('index', lang='id') }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">Indonesia</a>
                                    {% elif request.endpoint == 'journal' %}
                                    <a href="{{ url_for('journal', lang='en') }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">English</a>
                                    <a href="{{ url_for('journal', lang='id') }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">Indonesia</a>
                                    {% else %}
                                    <a href="{{ url_for(request.endpoint, lang='en', **request.view_args) }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">English</a>
                                    <a href="{{ url_for(request.endpoint, lang='id', **request.view_args) }}"
                                        class="block px-3 py-1.5 text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-150">Indonesia</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <span class="hidden sm:inline text-sm text-gray-900">RateJournee</span>
                        <span class="hidden sm:inline text-sm text-gray-900">|</span>
                        <button id="userDropdownButton"
                            class="flex items-center text-sm text-gray-700 hover:text-blue-600 focus:outline-none"
                            type="button">
                            <span id="timeGreeting" data-morning-text="{{ _('Good Morning') }}"
                                data-afternoon-text="{{ _('Good Afternoon') }}"
                                data-evening-text="{{ _('Good Evening') }}">{{_("Hi")}}</span>,
                            <strong class="ml-1 capitalize font-bold">{{ given_name if given_name else name }}</strong>
                            <svg class="w-4 h-4 ml-1 md:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7">
                                </path>
                            </svg>
                        </button>
                    </div>

                    <!-- Dropdown Menu (Hidden by default, only on mobile) -->
                    <div id="userDropdownMenu"
                        class="hidden md:hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50">
                        <div class="px-4 py-3">
                            <span class="block text-sm font-bold text-gray-900 capitalize">
                                {{ given_name if given_name else name }}</span>
                        </div>
                        <a href="/homepage" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            {{_("Home")}}
                        </a>
                        <a href="/journal" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            {{_("My Journal")}}
                        </a>
                        <a href="/journal-insights" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            {{_("Journal Analytics")}}
                        </a>
                        <div class="border-t border-gray-200 my-1"></div>
                        <a href="/logout" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">
                            {{_("Logout")}}
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </nav>

    <div x-data="{ open: false }" class="flex">
        <!-- Sidebar (Desktop Only) -->
        <div class="hidden md:flex flex-col h-screen bg-yellow-50 border-r border-gray-100 
            fixed top-0 left-0 z-40
            transition-all duration-300 ease-in-out 
            py-4 overflow-hidden" :class="open ? 'w-48' : 'w-16'">

            <!-- Sidebar Navigation -->
            <nav class="space-y-2 px-2 w-full text-sm">
                <!-- Sidebar Toggle Button -->
                <div class="flex items-center">
                    <button @click="open = !open" class="flex items-center justify-center w-10 h-10 rounded-full transition-all duration-300 
               hover:bg-gray-100 active:scale-90 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-gray-600 transition-transform duration-300"
                            :class="open ? 'rotate-90' : 'rotate-0'" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8M4 18h16" />
                        </svg>
                    </button>
                </div>

                <a href="#" class="flex items-center gap-x-3 p-2 rounded-lg hover:bg-gray-100 
                        transition-all duration-200 group">
                    <div class="flex items-center justify-center w-6">
                        <!-- Dashboard Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                        </svg>
                    </div>
                    <span class="whitespace-nowrap text-gray-700
                    transition-all duration-300 
                    overflow-hidden" :class="open ? 'opacity-100 w-full' : 'opacity-0 w-0'">
                        {{_("Dashboard")}}
                    </span>
                </a>

                <a href="/homepage" class="flex items-center gap-x-3 p-2 rounded-lg hover:bg-gray-100 
                        transition-all duration-200 group">
                    <div class="flex items-center justify-center w-6">
                        <!-- Updated Home Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>
                    </div>
                    <span class="whitespace-nowrap text-gray-700
                    transition-all duration-300 
                    overflow-hidden" :class="open ? 'opacity-100 w-full' : 'opacity-0 w-0'">
                        {{_("Home")}}
                    </span>
                </a>

                <a href="/journal" class="flex items-center gap-x-3 p-2 rounded-lg hover:bg-gray-100 
                        transition-all duration-200 group">
                    <div class="flex items-center justify-center w-6">
                        <!-- Updated Journal Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                        </svg>
                    </div>
                    <span class="whitespace-nowrap text-gray-700
                    transition-all duration-300 
                    overflow-hidden" :class="open ? 'opacity-100 w-full' : 'opacity-0 w-0'">
                        {{_("My Journal")}}
                    </span>
                </a>

                <a href="/journal-insights" class="flex items-center gap-x-3 p-2 rounded-lg hover:bg-gray-100 
            transition-all duration-200 group">
                    <div class="flex items-center justify-center w-6">
                        <!-- Journal Insights Icon (Chart with Emotion) -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                        </svg>
                    </div>
                    <span class="whitespace-nowrap text-gray-700
        transition-all duration-300 
        overflow-hidden" :class="open ? 'opacity-100 w-full' : 'opacity-0 w-0'">
                        {{_("Journal Analytics")}}
                    </span>
                </a>

                <!-- Divider before Logout -->
                <div class="border-t border-gray-200 my-2"></div>

                <!-- Logout -->
                <a href="/logout" class="flex items-center gap-x-3 p-2 rounded-lg hover:bg-gray-100 
                        transition-all duration-200 group">
                    <div class="flex items-center justify-center w-6">
                        <!-- Updated Logout Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                    </div>
                    <span class="whitespace-nowrap text-red-700
                    transition-all duration-300 
                    overflow-hidden" :class="open ? 'opacity-100 w-full' : 'opacity-0 w-0'">
                        {{_("Logout")}}
                    </span>
                </a>
            </nav>
        </div>


        <!-- Main Content -->
        <div class="w-full
                   transition-all duration-300 ease-in-out 
                   md:pl-16" :class="open ? 'md:pl-48' : 'md:pl-16'">
            <div class="container mx-auto p-4 w-full max-w-7xl">
                <div class="flex flex-col md:flex-row w-full gap-4">
                    {% block content %} <!-- Konten di sini --> {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer class="backdrop-blur-sm py-4 mt-auto border-t border-gray-200 bg-white text-center text-sm">
        <div class="container mx-auto">
            <p>&copy; <span id="current-year"></span> RateJournee. {{_("All rights reserved.")}}</p>
        </div>
    </footer>

    <!-- Script untuk dropdown language switcher -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuButton = document.getElementById('language-menu-button');
            const menu = document.getElementById('language-menu');

            // Toggle dropdown with animation
            menuButton.addEventListener('click', (e) => {
                e.stopPropagation();

                if (menu.classList.contains('hidden')) {
                    menu.classList.remove('hidden');
                    setTimeout(() => {
                        menu.classList.remove('opacity-0');
                    }, 10);
                } else {
                    menu.classList.add('opacity-0');
                    setTimeout(() => {
                        menu.classList.add('hidden');
                    }, 200);
                }
            });

            // Close dropdown when clicking outside
            document.addEventListener('click', () => {
                menu.classList.add('opacity-0');
                setTimeout(() => {
                    menu.classList.add('hidden');
                }, 200);
            });
        });
    </script>

    <script>
        // Time Greeting
        document.addEventListener('DOMContentLoaded', function () {
            const greetingElement = document.getElementById('timeGreeting');
            const currentHour = new Date().getHours();

            // Get translations from data attributes set by Flask
            const morningText = greetingElement.dataset.morningText;
            const afternoonText = greetingElement.dataset.afternoonText;
            const eveningText = greetingElement.dataset.eveningText;

            if (currentHour < 12) {
                greetingElement.textContent = morningText;
            } else if (currentHour < 18) {
                greetingElement.textContent = afternoonText;
            } else {
                greetingElement.textContent = eveningText;
            }

            // Dropdown Toggle
            const dropdownButton = document.getElementById('userDropdownButton');
            const dropdownMenu = document.getElementById('userDropdownMenu');

            // Toggle dropdown saat tombol diklik
            dropdownButton.addEventListener('click', function () {
                dropdownMenu.classList.toggle('hidden');
            });

            // Tutup dropdown saat mengklik di luar dropdown
            window.addEventListener('click', function (event) {
                if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        });
    </script>

    <!--Current Year-->
    <script>
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>
</body>

</html>